*, *::after, *::before{
    box-sizing: border-box;
}

.portfolio .img{
    height: 300px;
    width: 300px;
    margin: 20px;
}

.navigation ul,
.name 
 {
    padding: 10px;
    margin: auto;
    display: inline-block;
}
.navList li{
    display: inline-block;
    padding: 0 10px;
}

.navList li a{
    color: azure;
    font-size: 22px;
}
.nav-header{
    background-image: url("https://i.postimg.cc/DwD1R8nn/pexels-francesco-ungaro-96938.jpg");
    background-size: cover;
    height: 100%;
    position: relative;
    padding: 20px;
    margin: 30px auto;
}

.name{
    color: gold;
    font-size: 22px;
}

.navigation ul{
float: right;
}

.header {
    display: block;
}

section {
    padding: 40px 0;
}

.header-nav a{
    color: azure;
    font-size: 20px;
}

.header-nav a {
    border: 1px solid;
    background-color: gold;
    padding: 10px 20px;
    margin:20px auto ;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.container {
padding: 10px 20px;
margin: 30px auto;

}