*, *::after, *::before{
    box-sizing: border-box;
}

.portfolio .img{
    height: 300px;
    width: 300px;
    margin: 20px;
}

.navigation ul,
.name 
 {
    padding: 10px;
    margin: auto;
    display: inline-block;
}
.navList li{
    display: inline-block;
    padding: 0 10px;
}

.navList li a{
    color: rgb(114, 29, 29);
    font-size: 22px;
    font-weight: 700;
}
.nav-header{
    background-image: url("https://i.postimg.cc/FRKg03bf/textile-2918844-1920.jpg");
    background-size: cover;
    height: 100%;
    position: relative;
    padding: 20px;
    margin: 30px auto;
}

.name{
    color: rgb(114, 29, 29);
    font-size: 22px;
    font-weight: 700;
}

.navigation ul{
float: right;
}

.header {
    display: block;
}

section {
    padding: 40px 0;
}

.header-nav a{
    color: azure;
    font-size: 20px;
}

.header-nav a {
    display: block;
    border: 1px solid;
    background-color: rgb(151, 142, 92);
    padding: 10px 20px;
    margin:20px auto ;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.header-nav h1,
.header-nav h2,
.servises h3,
.servises h4,
.portfolio h3,
.portfolio h4,
.text-foto {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

.container {
padding: 10px 20px;
margin: 10px auto;
}

h3{
    font-weight: 800;
    font-size: 20px;
}

h4{
    font-size: 2px; //dlaczego nie mogę zmienić font-size?
    font-style: italic;
   
}

.servises-data{
    margin: 30px auto;
}

.servises-data i,
.servises-data h5 {
    display: block;
    text-align: center;
    padding: 20px auto;
    margin: 30px auto;
}

.servises-data p {
    margin: 20px auto;
}
 
.servises-data i {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 2px solid;
    border-radius: 50%;
    border-color: yellow;
    color: yellow;
}

.foto  img{
    display: block;
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin: 10px 15px;     
  
}

.links ul a{  
    font-size: 0;
    display: inline-block;

 }
 .footer {
    display: inline-block;
    position: relative;
}

.copyright  {
     font-size: 12px;
     display: inline-block;
     margin: 0;
     position: absolute;               
     top: 50%;                         
     transform: translate(0, -50%) }

.copyright .text {
        font-size: 12px;
    }

 
 .links ul li i{
     color: antiquewhite;
     padding: 20px;
     font-size: 15px;
     border: 1px solid rgb(34, 34, 34);
     border-radius: 50%;
     background-color: rgb(34, 34, 34);
     width: 50px;
     height: 50px;  
     position: absolute;
     transition: all 1s;
     display: inline-block;
     margin: 0;
     position: absolute;               
     top: 50%;                         
     transform: translate(0, -50%) }
 
 .links ul li i:hover{
    transform: scale(1.2);   
} 

